# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Project Specific - Large Models and Data
models/
data/outputs/
data/emotion_samples/*/*/neutral_clean.wav
data/emotion_samples/*/*/*_clean.wav
data/speakers/*_clean.wav

# Temp files
*.tmp.wav
*.tmp
